* {
  padding: 0px;
  margin: 0px;
}
.slider {
  position: relative;
  top: -64px;
  z-index: 0;
  overflow: hidden;
  background: #001757;
  height: 100vh;
}
.textOver {
  z-index: 10;
  position: absolute;
  top: 280px;
  left: 170px;
  color: white;
  text-align: left;
  width: 40%;
}
.textOver p {
  font-size: 22px;
}
.textOver h1 {
  font-size: 40px;
}
.SliderImages {
  display: flex;
  overflow: hidden;
}
.SliderImages img {
  height: 100vh;
}
.forwardArrow,
.backArrow {
  position: absolute;
  z-index: 10;
  color: white;
  top: 50%;
  user-select: none;
  cursor: pointer;
}
.forwardArrow {
  right: 32px;
}
.backArrow {
  left: 32px;
}
.slide {
  opacity: 0;
  transform: scale(1);
  transition: 1s ease-out;
}
.active {
  opacity: 1;
  transform: scale(1.1);
}

@media (min-width: 320px) {
  .SliderImages img {
    width: 1000px;
    height: auto;
    margin-left: -250px;
  }

  .textOver {
    width: 60%;
    margin: 0 auto;
    margin-top: -10%;
    left: 0;
    right: 0;
  }
  .textOver p {
    font-size: 14px;
    margin-top: 10px;
  }
  .textOver h1 {
    font-size: 26px;
  }
}
@media (min-width: 600px) {
  .SliderImages img {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .textOver p {
    font-size: 14px;
  }
  .textOver h1 {
    font-size: 22px;
  }
}

@media (min-width: 996px) {
  .textOver {
    width: 40%;
    margin-top: 0;
    margin-left: 18%;
  }
  .textOver p {
    font-size: 28px;
  }
  .textOver h1 {
    font-size: 58px;
  }
}
